/*  * *
    * *
    * *
*/
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* * page loader models */
/* * model 1 */
.page-loader-model-1 {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.page-loader-model-1 img {
  position: absolute;
  width: 15rem;
  height: 15rem;
}
.page-loader-model-1 img:nth-child(1) {
  animation: blinker 2s linear infinite;
  -webkit-animation: opacitySharpAnimation-0 2s linear infinite;
}
.page-loader-model-1 img:nth-child(2) {
  animation: rotate-right 10s linear infinite;
  -webkit-animation: rotate-right 10s linear infinite;
}
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* * model line */
/* * solid */
body.solid .model-line {
  margin: 1rem;
  padding: 1rem;
  background-color: green;
  position: relative;
}
body.solid .model-line > .model-outline {
  background-color: yellow;
  padding: 1rem;
}
body.solid .model-line > .model-outline > .model-inline {
  background-color: green;
  padding: 1rem;
}
/* * edge */
body.edge .model-line {
  margin: 1rem;
  padding: 1rem;
  background-color: green;
  position: relative;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
body.edge .model-line > .model-outline {
  background-color: yellow;
  padding: 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
body.edge .model-line > .model-outline > .model-inline {
  background-color: green;
  padding: 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
/* * edged */
body.edged .model-line {
  margin: 2rem 1rem;
  padding: 0 1rem;
  background-color: green;
  position: relative;
}
body.edged .model-line > .model-outline::before,
body.edged .model-line > .model-outline::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1rem;
  background-color: green;
  z-index: -1;
}
body.edged .model-line > .model-outline::before {
  margin: 0;
  left: 0;
  top: -1rem;
  transform-origin: bottom left;
  transform: skewX(-50deg);
  -webkit-transform: skewX(-50deg);
  -moz-transform: skewX(-50deg);
  -ms-transform: skewX(-50deg);
  -o-transform: skewX(-50deg);
}
body.edged .model-line > .model-outline::after {
  margin: 0;
  right: 0;
  top: -1rem;
  transform-origin: bottom right;
  transform: skewX(50deg);
  -webkit-transform: skewX(50deg);
  -moz-transform: skewX(50deg);
  -ms-transform: skewX(50deg);
  -o-transform: skewX(50deg);
}
body.edged .model-line > .model-outline > .model-inline::before,
body.edged .model-line > .model-outline > .model-inline::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1rem;
  background-color: green;
  z-index: -1;
}
body.edged .model-line > .model-outline > .model-inline::before {
  margin: 0;
  right: 0rem;
  bottom: -1rem;
  transform-origin: top left;
  transform: skewX(-50deg);
  -webkit-transform: skewX(-50deg);
  -moz-transform: skewX(-50deg);
  -ms-transform: skewX(-50deg);
  -o-transform: skewX(-50deg);
}
body.edged .model-line > .model-outline > .model-inline::after {
  margin: 0;
  left: 0;
  bottom: -1rem;
  transform-origin: top right;
  transform: skewX(50deg);
  -webkit-transform: skewX(50deg);
  -moz-transform: skewX(50deg);
  -ms-transform: skewX(50deg);
  -o-transform: skewX(50deg);
}
/* * triangle-experimental-model-1 */
body.triangle-experimental-model-1 .model-line {
  margin: 2rem;
  padding: 0 2rem;
  background-color: green;
  position: relative;
}
body.triangle-experimental-model-1 .model-line > .model-outline::before,
body.triangle-experimental-model-1 .model-line > .model-outline::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1rem;
  background-color: green;
  z-index: -1;
}
body.triangle-experimental-model-1 .model-line > .model-outline::before {
  margin: 0;
  right: 0rem;
  top: -1rem;
  transform-origin: top left;
  transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  -moz-transform: skewX(-45deg);
  -ms-transform: skewX(-45deg);
  -o-transform: skewX(-45deg);
}
body.triangle-experimental-model-1 .model-line > .model-outline::after {
  margin: 0;
  left: 0;
  top: -1rem;
  transform-origin: top right;
  transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  -moz-transform: skewX(45deg);
  -ms-transform: skewX(45deg);
  -o-transform: skewX(45deg);
}
body.triangle-experimental-model-1
  .model-line
  > .model-outline
  > .model-inline::before,
body.triangle-experimental-model-1
  .model-line
  > .model-outline
  > .model-inline::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1rem;
  background-color: green;
  z-index: -1;
}
body.triangle-experimental-model-1
  .model-line
  > .model-outline
  > .model-inline::before {
  margin: 0;
  left: 0;
  bottom: -1rem;
  transform-origin: bottom left;
  transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  -moz-transform: skewX(-45deg);
  -ms-transform: skewX(-45deg);
  -o-transform: skewX(-45deg);
}
body.triangle-experimental-model-1
  .model-line
  > .model-outline
  > .model-inline::after {
  margin: 0;
  right: 0;
  bottom: -1rem;
  transform-origin: bottom right;
  transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  -moz-transform: skewX(45deg);
  -ms-transform: skewX(45deg);
  -o-transform: skewX(45deg);
}
/* * triangle-experimental-model-2 */
body.triangle-experimental-model-2 .model-line {
  margin: 2rem;
  padding: 0 2rem;
  background-color: green;
  position: relative;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
body.triangle-experimental-model-2 .model-line > .model-outline::before,
body.triangle-experimental-model-2 .model-line > .model-outline::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1rem;
  background-color: green;
  z-index: -1;
}
body.triangle-experimental-model-2 .model-line > .model-outline::before {
  margin: 0;
  right: 0rem;
  top: -1rem;
  transform-origin: top left;
  transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  -moz-transform: skewX(-45deg);
  -ms-transform: skewX(-45deg);
  -o-transform: skewX(-45deg);
}
body.triangle-experimental-model-2 .model-line > .model-outline::after {
  margin: 0;
  left: 0;
  top: -1rem;
  transform-origin: top right;
  transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  -moz-transform: skewX(45deg);
  -ms-transform: skewX(45deg);
  -o-transform: skewX(45deg);
}
body.triangle-experimental-model-2
  .model-line
  > .model-outline
  > .model-inline::before,
body.triangle-experimental-model-2
  .model-line
  > .model-outline
  > .model-inline::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1rem;
  background-color: green;
  z-index: -1;
}
body.triangle-experimental-model-2
  .model-line
  > .model-outline
  > .model-inline::before {
  margin: 0;
  left: 0;
  bottom: -1rem;
  transform-origin: bottom left;
  transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  -moz-transform: skewX(-45deg);
  -ms-transform: skewX(-45deg);
  -o-transform: skewX(-45deg);
}
body.triangle-experimental-model-2
  .model-line
  > .model-outline
  > .model-inline::after {
  margin: 0;
  right: 0;
  bottom: -1rem;
  transform-origin: bottom right;
  transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  -moz-transform: skewX(45deg);
  -ms-transform: skewX(45deg);
  -o-transform: skewX(45deg);
}
/* * triangle-experimental-model-3 */
body.triangle-experimental-model-3 .model-line {
  margin: 2rem;
  padding: 0 1rem;
  background-color: green;
  position: relative;
}
body.triangle-experimental-model-3 .model-line > .model-outline::before,
body.triangle-experimental-model-3 .model-line > .model-outline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1rem;
  background-color: green;
  z-index: -1;
}
body.triangle-experimental-model-3 .model-line > .model-outline::before {
  margin: 0;
  right: 0rem;
  top: -1rem;
  transform-origin: top left;
  transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  -moz-transform: skewX(-45deg);
  -ms-transform: skewX(-45deg);
  -o-transform: skewX(-45deg);
}
body.triangle-experimental-model-3 .model-line > .model-outline::after {
  margin: 0;
  left: 0;
  top: -1rem;
  transform-origin: top right;
  transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  -moz-transform: skewX(45deg);
  -ms-transform: skewX(45deg);
  -o-transform: skewX(45deg);
}
body.triangle-experimental-model-3
  .model-line
  > .model-outline
  > .model-inline::before,
body.triangle-experimental-model-3
  .model-line
  > .model-outline
  > .model-inline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1rem;
  background-color: green;
  z-index: -1;
}
body.triangle-experimental-model-3
  .model-line
  > .model-outline
  > .model-inline::before {
  margin: 0;
  left: 0;
  bottom: -1rem;
  transform-origin: bottom left;
  transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  -moz-transform: skewX(-45deg);
  -ms-transform: skewX(-45deg);
  -o-transform: skewX(-45deg);
}
body.triangle-experimental-model-3
  .model-line
  > .model-outline
  > .model-inline::after {
  margin: 0;
  right: 0;
  bottom: -1rem;
  transform-origin: bottom right;
  transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  -moz-transform: skewX(45deg);
  -ms-transform: skewX(45deg);
  -o-transform: skewX(45deg);
}
/* * ---- */
body.solid .bclass,
body.triangle-experimental-model-1 .bclass,
body.triangle-experimental-model-3 .bclass {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
/* * ---- */
body.edge .bclass,
body.edged .bclass,
body.triangle-experimental-model-2 .bclass {
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
[data-title],
[data-title-bottom] {
  position: relative;
}
[data-title]:hover:after {
  content: attr(data-title);
}
[data-title-bottom]:hover:after {
  content: attr(data-title-bottom);
}
[data-title]:hover:after,
[data-title-bottom]:hover:after {
  position: absolute;
  left: 50%;
  bottom: -2.3rem;
  padding: 0.5rem 1rem;
  background-color: #000000;
  color: #eee;
  font-size: 15px;
  white-space: nowrap;
  z-index: 1;
  visibility: hidden;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

[data-title]:hover:before,
[data-title-bottom]:hover:before {
  content: "";
  z-index: 1;
  position: absolute;
  bottom: -0.3rem;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #000000 transparent;
}

[data-title]:hover:after,
[data-title-bottom]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.3s;
  visibility: visible;
}
/* ---------- */
[data-title-top] {
  position: relative;
}

[data-title-top]:hover:after {
  content: attr(data-title-top);
  position: absolute;
  left: 50%;
  top: -2.3rem;
  padding: 0.5rem 1rem;
  background-color: #000000;
  color: #eee;
  font-size: 15px;
  white-space: nowrap;
  z-index: 1;
  visibility: hidden;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

[data-title-top]:hover:before {
  content: "";
  z-index: 1;
  position: absolute;
  top: -0.3rem;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000000 transparent transparent transparent;
}

[data-title-top]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.3s;
  visibility: visible;
}
/* ---------- */
[data-title-left] {
  position: relative;
}

[data-title-left]:hover:after {
  content: attr(data-title-left);
  position: absolute;
  left: 101.5%;
  top: 50%;
  padding: 0.5rem 1rem;
  background-color: #000000;
  color: #eee;
  font-size: 15px;
  white-space: nowrap;
  z-index: 1;
  visibility: hidden;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

[data-title-left]:hover:before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #000000 transparent transparent;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

[data-title-left]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.3s;
  visibility: visible;
}
/* ---------- */
[data-title-right] {
  position: relative;
}

[data-title-right]:hover:after {
  content: attr(data-title-right);
  position: absolute;
  right: 101.5%;
  top: 50%;
  padding: 0.5rem 1rem;
  background-color: #000000;
  color: #eee;
  font-size: 15px;
  white-space: nowrap;
  z-index: 1;
  visibility: hidden;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

[data-title-right]:hover:before {
  content: "";
  z-index: 1;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 100%;
  margin-right: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #000000;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

[data-title-right]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.3s;
  visibility: visible;
}
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/** ul li list models */
ul.ul-li-x {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 1rem;
}
ul.ul-li-x li::before {
  content: "—";
  margin-right: 1rem;
}
ul.ul-li-x li {
  padding: 0 0.5rem;
}
/* --- */
ul.ul-li-y {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 1rem;
}
ul.ul-li-y li::before {
  content: "—";
  margin-right: 1rem;
}
ul.ul-li-y li {
  padding: 0.5rem 0;
}
/* --- */
ul.ul-li-y-scroll {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}
ul.ul-li-y-scroll::-webkit-scrollbar {
  width: 0.4rem;
}
ul.ul-li-y-scroll > li {
  padding: 0.5rem 1rem;
}
/* --- */
ul.ul-li-x-scroll {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}
ul.ul-li-x-scroll::-webkit-scrollbar {
  height: 0.4rem;
}
ul.ul-li-x-scroll li {
  padding: 1rem 0.5rem;
}
/* --- */
ul.ul-li-y-none {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 1rem;
}
ul.ul-li-y-none li {
  padding: 0.5rem 0;
}
/* --- */
ul.ul-li-x-none {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 1rem;
}
ul.ul-li-x-none li {
  padding: 0 0.5rem;
}
/* --- */
ul.ul-li-x-scroll-hidden {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}
ul.ul-li-x-scroll-hidden li {
  padding: 1rem 0.5rem;
}
ul.ul-li-x-scroll-hidden::-webkit-scrollbar {
  width: 0;
  height: 0;
}
/* --- */
ul.ul-li-y-scroll-hidden {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}
ul.ul-li-y-scroll-hidden > li {
  padding: 0.5rem 1rem;
}
ul.ul-li-y-scroll-hidden::-webkit-scrollbar {
  width: 0;
  height: 0;
}
/** hr tag models */
.hr-line-model-1 {
  border: 0;
  height: 1px;
  background-color: transparent;
  background-image: linear-gradient(to right, transparent, #000, transparent);
}
/** languagesselect */
.languages-select {
  background-color: transparent;
  color: #90949c;
  margin: 1rem auto;
  width: auto;
  min-width: 10rem;
  font-size: 0.9rem;
  cursor: pointer;
  display: block;
  position: relative;
  outline: none;
  letter-spacing: 0.1rem;
  border: none;
  line-height: 2rem;
  padding: 0.2rem;
}
/* --------------------- */
footer hr {
  border-color: #303030;
}
footer > .footer-model-1 {
  background-color: #252525;
  color: #90949c;
  /*  */
  padding: 1rem;
  text-align: center;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer > .footer-model-1 > div > ul {
  text-transform: uppercase;
  font-weight: bold;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.2rem auto;
  padding: 0;
  font-size: 0.5rem;
}
footer > .footer-model-1 > div > ul > li {
  background-color: #252525;
  color: #90949c;
  /*  */
  padding: 0 0.5em;
  border-right: 0.1em solid;
}
footer > .footer-model-1 > div > ul > li:last-child {
  border-right: 0;
}
footer > .footer-model-1 > h5,
footer > .footer-model-1 > h6 {
  margin: 0.3rem;
}
/* --------------------- */
footer > .footer-model-2 {
  background-color: #252525;
  color: #90949c;
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
}
footer > .footer-model-2 > div > h3 {
  margin: 1em 0 0 0;
  text-transform: uppercase;
}
footer > .footer-model-2 > div > hr {
  margin: 1rem 0;
}
footer > .footer-model-2 > div > .social,
footer > .footer-model-2 > div > .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}
footer > .footer-model-2 > div > .social > a {
  margin: 0.5rem;
}
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
.btn {
  border: none;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
body.edge .btn,
body.edged .btn,
body.triangle-experimental-model-2 .btn {
  border-radius: 0.5rem;
}
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/** mobil < 480px */
@media screen and (max-width: 480px) {
  footer > .footer-model-1 > div > ul {
    flex-direction: column;
  }
  footer > .footer-model-1 > div > ul > li {
    padding: 0.5em;
    border: 0;
  }
}
/** tablet < 768px */
@media screen and (max-width: 768px) {
  footer > .footer-model-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer > .footer-model-2 > div {
    width: 70%;
  }
}
/** tablet-pc < 992 */
@media screen and (max-width: 992px) {
}
/** pc < 1200 */
@media screen and (max-width: 1200px) {
}
/** tv > 1200 */
@media screen and (min-width: 1200px) {
}
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
/* ! ---------------------------------------------------------------------------------  */
